.projects {
    h3 {
        margin: 3rem 0 1.5rem;
    }

    h3:first-of-type {
        margin-top: 0;
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    @media (max-width: 1120px) {
        &-grid {
            grid-template-columns: repeat(2, 360px);
            max-width: calc(2 * 360px + 1 * 1.5rem);
        }
    }

    @media (max-width: 800px) {
        &-grid {
            grid-template-columns: 1fr;
            max-width: 100%;
            padding: 0 1rem;
        }
    }
}
