.about {
    &-details {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    p {
        max-width: 1000px;
        text-align: left;
        color: var(--color-text-muted);
    }

    a {
        font-weight: 600;
    }

    &-links {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .about img {
        max-width: 224px;
    }
}