@use "../../styles/variables.scss";

.about {
    padding: 0 1rem;

    p {
        text-align: left;
        color: var(--color-text-muted);
    }

    a {
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .about img {
        max-width: 224px;
    }
}