@use "../../styles/variables.scss";

.about {
    padding: 0 1rem;

    p {
        text-align: left;
    }

    a {
        color: white;
        text-decoration: none;
        transition: color 0.2s;
        font-weight: 600;

        &:hover {
            color: #5BADFF;
        }
    }
}

@media (max-width: 768px) {
    .about {

        img {
            max-width: 224px;
        }
    }
}