.contact {
    &-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.3rem;
            color: white;
            text-decoration: none;
            transition: color 0.2s;

            svg {
                font-size: 1.5rem;
            }

            &:hover {
                color: #5BADFF
            }
        }
    }
}