.footer {
    background-color: #222222;
    position: fixed;
    width: 100vw;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        padding-left: 2rem;
    }

    &-links {
        display: flex;
        gap: 1.5rem;
        padding-right: 2rem;

        a {
            gap: 0.5rem;
            font-size: 1.2rem;
            color: white;
            transition: color 0.2s;

            &:hover {
                color: #5BADFF
            }

            &:active {
                filter: brightness(1.2);
            }
        }
    }
}
