.experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-list {
        text-align: left;
        max-width: 1200px;

        &-entry {
            &-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            p,
            &-description {
                color: var(--color-text-muted);
            }
        }
    }

    &-resume-button {
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        background-color: transparent;
        border: 2px solid var(--color-text);
        border-radius: 2rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: var(--color-text);

            a {
                color: var(--color-bg-dark);
            }
        }

        &:active {
            opacity: 0.8;
        }

        a {
            font-size: 1rem;
            font-weight: 600;
        }
    }
}