.theme-toggle {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    
    svg {
        font-size: 2rem;
        transition: color 0.2s;
    }
    
    &:hover {
        color: var(--color-primary)
    }

    &:active {
        filter: brightness(1.2);
    }

    @media (prefers-reduced-motion: reduce) {
        svg {
            transition: none !important;
        }
    }
}